---
import {
	AnnouncementBar,
	Container,
	FeatureCard,
	CtaCardSection,
	Button,
	CustomerQuoteSection,
	TextCardSection,
} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

const seo = {
	title: 'Chennai Office spaces for rent. Fully furnished office space for rent in Chennai | SNE Realty',
	description:
		'Office Spaces for Rent in Chennai. Fully furnished office spaces for rent in Chennai. Book your office in Chennai by 24 hours | SNE Realty'
};
---

<AnnouncementBar
	text="Read Our Latest Blog Post"
	href="/blog/posts/remote-work-mental-health/"
	slot="announcement-bar"
/>
<Layout {seo}>
	<HomeHeroSection />

	<TextCardSection>
		<h4>Our Partners</h4>
			<div class="row">
				<div class="column">
				<img src="/assets/images/home/customers/byjus1.png" height="130" alt="Snow" style="width:150%">
				</div>
				<div class="column">
					<img src="/assets/images/home/customers/chai1-trimmy.jpg" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/mb-trimmy.jpg" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/jmfl1.png" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/ng.jpg" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/icici.png" height="130" alt="Snow" style="width:190%">
				  </div>
			  </div>
</TextCardSection>

	<Container>
		<section class="feature-card__section">
			<h2>Office Spaces from 1000 to 30,000 Sq.ft</h2>
			<p>
				<!-- Use one of our landing pages to jumpstart your website or ad campaign. -->
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href=""
					title="Office Spaces in Mount Road"
					imgSrc="/assets/images/properties/mylapore/myl1"
				/>
				<FeatureCard
					href="/landing-pages/landing-1"
					title="Office Space in Alwarpet"
					imgSrc="/assets/images/properties/alwarpet/4"
				/>
				<FeatureCard
					href="/landing-pages/landing-1"
					title="Office Space in Nungambakkam"
					imgSrc="/assets/images/properties/nungambakkam/t1"
				/>
				<FeatureCard
					href="/landing-pages/landing-1"
					title="1000 Sqft Office in Guindy"
					imgSrc="/assets/images/properties/guindy/2"
				/>
			</div>
		</section>
	</Container>

	<CustomerQuoteSection
		quoteText="As a CEO, time is a valuable commodity and SNE made the process of finding an office so efficient. They understood my needs and found the perfect space for my team in no time. I highly recommend them."
		customerName="Surya, CEO @ Veneer Industries"
	/>

	<Container>
		<section class="feature-card__section">
			<h2>Warehouses/Godowns</h2>
			<!-- <p>Learn more about how to set up and use the Odyssey Theme.</p> -->
			<div class="feature-card__grid">
				<FeatureCard
					href=""
					title="10,000 Sqft Warehouse/Godown "
					imgSrc="/assets/images/properties/warehouses/3"
				/>
				<FeatureCard
					href="/landing-pages/landing-1"
					title="100,000 Sqft Warehouse/Godown "
					imgSrc="/assets/images/properties/warehouses/1"
				/>
				<FeatureCard
					href="/landing-pages/landing-1"
					title="500,000+ Sqft Warehouse/Godown"
					imgSrc="/assets/images/properties/warehouses/2"
				/>
			</div>
		</section>

		<CtaCardSection
			background="var(--theme-surface-2)"
			color="var(--theme-on-surface-2)"
		>
			<h2>
				Need a furnished commercial space in Chennai without any hassle? Call us now and get it done by 24 hours!
			</h2>
			<p>
				It only takes a couple clicks to have your problems solved. Contact us
				for a free consultation
			</p>
			<Button href="/company/contact" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</CtaCardSection>


		<Container>
			<section class="feature-card__section">
				<h2>Wish to know more? Peek at our blogs</h2>
				<p>
					Read more about Real Estate in the Chennai space on our blogs and be informed about the decisions so that you make the right decisions.
				</p>
				<div class="feature-card__grid">
					<FeatureCard
						href="/blog/"
						title="Blog Page"
						imgSrc="/assets/images/home/screenshots/blog"
					/>
					<FeatureCard
						href="/blog/posts/benefits-of-hiring-a-commercial-real-estate-broker"
						title="Blog Post"
						imgSrc="/assets/images/home/screenshots/blog-post"
						<!-- test comment -->
					/>
				</div>
			</section>
		</Container>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
