---
import {
	AnnouncementBar,
	Container,
	FeatureCard,
	CtaCardSection,
	Button,
	CustomerQuoteSection,
	TextCardSection,
} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

const seo = {
	title: 'Chennai Office spaces for rent. Fully furnished office space for rent in Chennai',
	description:
		'Office Spaces for Rent in Chennai. Fully furnished office spaces for rent in Chennai. Book your office in Chennai by 24 hours.'
};
---

<AnnouncementBar
	text="Read Our Latest Blog Post"
	href="/blog/posts/remote-work-mental-health/"
	slot="announcement-bar"
/>
<Layout {seo}>
	<HomeHeroSection />

	<TextCardSection>
			<div class="row">
				<div class="column">
				<img src="/assets/images/home/customers/byjus1.png" height="130" alt="Snow" style="width:150%">
				</div>
				<div class="column">
					<img src="/assets/images/home/customers/chai1-trimmy.jpg" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/mb-trimmy.jpg" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/jmfl1.png" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/ng.jpg" height="130" alt="Snow" style="width:190%">
				  </div>
				  <div class="column">
					<img src="/assets/images/home/customers/icici.png" height="130" alt="Snow" style="width:190%">
				  </div>
				  
			  </div>


</TextCardSection>

	<Container>
		<section class="feature-card__section">
			<h2>Landing Pages</h2>
			<p>
				Use one of our landing pages to jumpstart your website or ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/landing-pages/landing-1"
					title="Landing Page 1"
					imgSrc="/assets/images/home/screenshots/landing-1"
				/>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Company Pages</h2>
			<p>
				Use one of our prebuilt company pages for your about page, contact page,
				legal pages, blog posts, etc.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/company/about"
					title="About Page"
					imgSrc="/assets/images/home/screenshots/about"
				/>
				<FeatureCard
					href="/company/contact"
					title="Contact Page"
					imgSrc="/assets/images/home/screenshots/contact"
				/>
				<FeatureCard
					href="/blog/"
					title="Blog Page"
					imgSrc="/assets/images/home/screenshots/blog"
				/>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Blog Post"
					imgSrc="/assets/images/home/screenshots/blog-post"
				/>
			</div>
		</section>
	</Container>

	<CustomerQuoteSection
		quoteText="As a CEO, time is a valuable commodity and SNE made the process of finding an office so efficient. They understood my needs and found the perfect space for my team in no time. I highly recommend them."
		customerName="Surya, CEO @ Veneer Industries"
	/>

	<Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Get Started"
				/>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Style Guide"
				/>
			</div>
		</section>

		<CtaCardSection
			background="var(--theme-surface-2)"
			color="var(--theme-on-surface-2)"
		>
			<h2>
				Need a furnished commercial space in Chennai without any hassle? Call us now and get it done by 24 hours!
			</h2>
			<p>
				It only takes a couple clicks to have your problems solved. Contact us
				for a free consultation
			</p>
			<Button href="/company/contact" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</CtaCardSection>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
