---
import { Icon } from 'astro-icon';
import {
	AnnouncementBar,
	Button,
	Container,
	FeatureCard,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
const seo = {
	title: 'Warehouses/ Godowns  | Astro Odyssey Theme',
	description: 'Warehouses/ Godowns  | Astro Odyssey Theme',
};
---

<!--AnnouncementBar
	text="Read Our Latest Blog Post"
	href="/blog/posts/remote-work-mental-health/"
	slot="announcement-bar"
/-->
<Layout {seo}>

	
<Container>
		<section class="feature-card__section">
			<h2>Warehouses/ Godowns Spaces from 10,000 to 2,00,000 Sq.ft </h2>
			<p>
				<!-- Use one of our landing pages to jumpstart your website or ad campaign. -->
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					 
					title="Sriperumbudur"
					imgSrc="/assets/images/properties/warehouses/1"
				/>
			<FeatureCard
					 
					title="Maduravoyal"
					imgSrc="/assets/images/properties/warehouses/2"
				/>
			<FeatureCard
					 
					title="Madhavaram"
					imgSrc="/assets/images/properties/warehouses/3"
				/>
			
			<FeatureCard
					 
					title="Redhills"
					imgSrc="/assets/images/properties/warehouses/4"
				/>
			<FeatureCard
					 
					title="Oragadam"
					imgSrc="/assets/images/properties/warehouses/5"
				/>			
			<FeatureCard
					 
					title="Manali"
					imgSrc="/assets/images/properties/warehouses/6"
				/>
				<!--FeatureCard
					 
					title="Poonamallee"
					imgSrc="/assets/images/properties/warehouses/4"
				/-->
		
		
		
		
			
		
			</div>
		</section>
			<Button  href="#">Top </Button>
			
	</Container>

</Layout>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TP9WQS0XCW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TP9WQS0XCW');
</script>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
