---
import {
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@littlesticks/odyssey-theme-components';

const selectOptions = ['Google Search', 'Social Media', 'Email'];
---

<!-- <form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Name" name="Name" placeholder="John Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormSelect label="How Did You Hear About Us?" options={selectOptions} />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form> -->

<!-- TODO -->
<!-- better form submission script service which handles more fields and is free for use -->


<form action="https://formsubmit.co/snenterpriseschennai@gmail.com" method="POST">
	<input
		type="hidden"
		name="_subject"
		value="Message from website's contact form"
	/>
	<input type="hidden" name="_template" value="table" />
	<FormInput
		type="text"
		name="name"
		label="Name"
		placeholder="John Doe"
		required
	/>
	<input
		type="hidden"
		name="_blacklist"
		value="spammy, spam, bot , wp, porn, xxx, porno, banned, term, phrase, hack, hacked, money"
	/>
	<FormInput
		type="email"
		label="Email"
		name="email"
		placeholder="johndoe@example.com"
		required
	/>
	<input
		type="hidden"
		name="_autoresponse"
		value="Your response has been submitted to SNE Realty. Your form will soon be reviewed and a response will be dispatched soon. "
	/>
	<FormInput
		type="text"
		label="Message"
		name="Message"
		placeholder="Drop your number here and let us give you a free consult."
		required
	/>
	<input type="hidden" name="_next" value="https://www.snechennai.com/submission/thankyou" />
	<input type="text" name="_honey" style="display:none" />
	<input type="hidden" name="_captcha" value="false">
	<button type="submit">Send</button>
</form>

<style>
	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
</style>
