---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Office Spaces for Rent in Chennai. Fully furnished office space for rent in Chennai | SNE Realty',
	description: 'Office Spaces for Rent in Chennai. Fully furnished office space for rent in Chennai | SNE Realty',
};
---
 
<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h2>Contact Us For a Free Consultation</h2>
				<p>
					Please fill out the form below to schedule your free consultation with one of our expert advisors.
					<br/>
					<br/>
					One of our experienced consultants will get in touch with you as soon as possible to schedule a consultation at a time that is convenient for you.
					<br/>
					<br/>
					At our real estate consultancy, we are committed to providing our clients with exceptional service and expert advice. We look forward to hearing from you and assisting you with all of your real estate needs.
				</p>
				<div>
					<p>
						<a aria-label="Chat on WhatsApp" href="https://wa.me/919841140122?text=Hello%0AI%27m%20interested%20in%20leasing%20a%20property%20in%20Chennai.%20Please%20reach%20me%20back" > <img alt="Chat on WhatsApp" src="/assets/images/landing-1/whatsapp1.png" />
						</a>
						<hr/>
						<em><a href="tel:+919841140122">(+91) 98411-40122</a></em> • <em
							><a href="mailto:contact@snechennai.com">Email us at contact@snechennai.com</a
							></em
						>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
