---
import { Container,TextCardSection, FeatureCard,TextSection } from '@littlesticks/odyssey-theme-components';

import Layout from '../../layouts/Page.astro';
import HomeHeroSection from '../../components/sections/heros/HomeHeroSection.astro';
const seo = {
	title: 'Office Spaces for Rent in Chennai. Fully furnished office space for rent in Chennai',
	description: 'Office Spaces for Rent in Chennai. Fully furnished office space for rent in Chennai',
};
---

<Layout {seo}>
	<!-- <HomeHeroSection /> -->
    <Container>
        <h1>Common Commercial Real Estate Questions</h1>
        <h4>The process of finding the right office space, obligating yourself contractually, determining how to expand or contract, or relocate, can feel overwhelming and should be handled by a close and trusted advisor..and friend.
            <br/>
            <br/>
            Likewise, selecting your tenant representative is as important a decision as selecting your lawyer, therapist, or wedding planner. It is a process we respect and appreciate as much as you do and we encourage you to select the tenant representative with whom you feel most comfortable. So trust your instincts. Please make sure to contemplate these questions as you make your decision</h4>
    </Container>

<TextCardSection>
        <h3>How Much Does my Broker Charge Me?</h3>
		<p>
			For Residential / Commercial / Industrial Renting, the Indian Market Standard of One month rent is charged to the recipient after the rental agreement has been signed. 
            <br/>
            <br/>
        Sale of Industrial Land / Building & Agricultural Land outside city Limits	-- 3% on the sale consideration from each party we represent
    </p>
</TextCardSection>

<TextCardSection>
<h3>Is it acceptable for my broker to represent me and the building Landlord? What if the broker represent the building owner at another location?</h3>
		<p>
			This is simple: SNE only works for tenants. While others in our industry choose to maximize revenue by working for both sides, we are only loyal, devoted, and committed to the Tenant. We only represent tenants
			<br/>
			<br/>
		</p>
</TextCardSection>

<TextCardSection>
<h3>Should I work with a very large commercial real estate company or should I work with a local expert?</h3>
        <p>
            There is no right answer to this question. If your company is a multinational corporation (MNC) that wants to put all your eggs in one basket and rely entirely on one global real estate organization, then yes, you should work with one of the big 5. 
            <br/>
            <br/>
            Likewise, if you care about vanity and want to tell your friends that you work with the “largest real estate company on Earth,” then by all means, work with that conglomerate. We encourage you to recognize; the larger the shop, the greater the likelihood that the broker is doing business with your Landlord somewhere else…and therefore will have a conflict of interest when it comes time to fight for you.
        </p>
</TextCardSection>

<TextCardSection>
    <h3>How does SNE have my best interests in mind?</h3>
            <p>
                SNE is committed to excellence in tenant representation so you never have to wonder whose interests are foremost in our thinking. Because the average commercial lease has a term of 5 10 years, we spend time with each client helping them to clearly define their goals and objectives. We want to do more than help you with your current commercial real estate needs; we want to be your real estate partners far into the future.
                <br/>
                <br/>
            </p>
</TextCardSection>

<TextCardSection>
    <h3>Is it acceptable for my broker to represent me and the building Landlord? What if the broker represent the building owner at another location?</h3>
            <p>
                The process of finding the right office space, obligating yourself contractually, determining how to expand or contract, or relocate, can feel overwhelming and should be handled by a close and trusted advisor..and friend.
                <br/>
                <br/>
                Likewise, selecting your tenant representative is as important a decision as selecting your lawyer, therapist, or wedding planner. It is a process we respect and appreciate as much as you do and we encourage you to select the tenant representative with whom you feel most comfortable. So trust your instincts. Please make sure to contemplate these questions as you make your decision:
            </p>
</TextCardSection>

            
<TextCardSection>
<h3>What is  SNE's Track Record?</h3>
        <p>
            SNE has many testimonials from small companies and larger organizations. In every case, our clients have recognized SNE as a business partner who puts the client's interests first. Our clients recognize that we are as concerned about their budget as they are. And that we fully understand the business need to reduce and better manager rent expense as a line item on the balance sheet.
            <br/>
            <br/>
            SNE has a long list of satisfied clients throughout the Chennai, TamilNadu marketplace. We pride ourselves on our reputation of being tactful, diplomatic, and respectful representatives. We represent our group as well as our clients and we do it with a level of class and sophistication. If our clients have anything to say about us, it is that we are professional in our approach and we get the job done.
        </p>
</TextCardSection>

                

<TextCardSection>
    <h3>What happens after move-in?</h3>
            <p>
                We hope to be your trusted advisor for life. Once we’ve found your new office, brokered, the deal, monitored the build out, and helped you move in, our ongoing “lease management” efforts begin. Remember, your broker only gets paid when they broker a lease, so the time between leases should be spent keeping your business and fostering the long term relationship.
                <br/>
                <br/>
                Between lease renewals/relocations, we will monitor your lease, provide regular updates and check-ups with you, review and audit the buildings charges (pass-throughs and real estate taxes), and provide market updates showing you rent and vacancy trends in your building and submarket.
            </p>
    </TextCardSection>

                    
<TextCardSection>
    <h3>How much space does my business need? Should I leave room to grow?</h3>
            <p>
                When considering how much space you need, first, you need to think about what your space will need to service. Before you even begin the process of trying to find a lease, you should know how much space you are looking for. A general rule of thumb in the industry would be 100-200 sq.ft. per office and 20-30 sq.ft. per cubicle, or 150-300 sq.ft. per person. However, the most reliable way to find size requirements would be to hire a space planner who would sit down with you and provide insight geared specifically at your company’s unique needs.
                <br/>
                <br/>
                Those rules vary depending on the type of company you are dealing with (law office, medical office, sales office, etc.) and the projected growth your company is expected to experience in the term of the lease. It is important to consider your growth variant, especially, if you are considering a lease with a longer term.
                <br/>
                <br/>
                If no growth is expected, don’t get a bigger space than you need; however, if you have plans to hire in the future, you should take those plans into consideration. Not all landlords will agree to subletting, so you want to make sure your space will work for you during your term or that your lease has language outlining your ability to find a sublet.
            </p>
    </TextCardSection>
                        

<TextCardSection>
        <h3>How long does it take to find a space?</h3>
                <p>
                    There is no magic number for how long it will take to find a space. Sometimes, there are complications that turn an easy, straightforward lease into something difficult and frustrating. 
                    <br/>
                    <br/>
                    However, when everything goes as planned and transitions between spaces move smoothly, the amount of time needed to find a new space depends mostly on the size you are looking for and its availability in the market.
                </p>
</TextCardSection>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
